<!DOCTYPE html>
<html lang="en-us" ng-app="paybook" ng-cloak>
<body>

  <head>
    <title>Book</title>
    <meta charset="utf-8">
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = "https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <script src="paybook.js"></script>
  </head>
        


<br><br>


<div ng-controller="bookCtrl" >
<button ng-click="book();" type="button" class="btn btn-info">Book</button>
</div>




  </body>

  </html>
