<!DOCTYPE html>
<html>
<body>

<div class="PAYMENT">
<form action="/charge" method"post">
  <script
  src="https://checkout.stripe.com/checkout.js"   class="stripe-button"

  data-key="pk_test_xquclYSbmBZnHxkNCvqEPbR7"
  data-amount="3000"
  data-name="Hangout Type"
  data-description="Description"
  data-locale="auto"
  data-currency="EGP"
  >
  </script>
<input type="hidden" name="chargeAmount" value="3000">

</form>
</div>


  </body/>

  </html>
