<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="profile">

<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style media="screen">
    * {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bolder;
    }

    .row {
        margin: 0;
    }

    .form-container {
        top: 0px;
        height: 100%;
        border-left: 1px solid gray;
        padding-left: 30px;
    }

    .form-control {
        width: 90%;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">Logo</a>
            </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logOut">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div id="container" class="row">
                <div class="info">
                    <div class="name">
                        <p class="firstName">First Name: {{firstName}}</p>
                        <p class="lastName">Last Name: {{lastName}}</p>
                    </div>
                    <p class="username">Username: {{username}}</p>
                    <p class="email">Email: {{email}}</p>
                    <p class="mobileNumber">Mobile Number: {{mobileNumber}}</p>
                    <p class="address">address: {{address}}</p>
                    <p class="gender">gender: {{gender}}</p>
                </div>
                <a href="/registeredUser/editProfile" class="btn btn-default">Edit My Profile</a>
            </div>
        </div>
     <script src="../profile.js"></script>
  </body>


</html>
