<div id="popularBusniessPagesList" class="row list-group">
    <div ng-repeat="searchBusinessPagesResult in searchBusinessPagesResults">
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    {{searchBusinessPagesResult.name}}</h4>
                    <p class="group inner list-group-item-text">
                        {{searchBusinessPagesResult.description}}</p>
                        <p class="group inner list-group-item-text">
                            {{searchBusinessPagesResult.phonenumber}}</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" >check it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
