<!DOCTYPE html>
<!-- <html ng-app="myApp" ng-controller="signup"> -->
<html ng-app="myApp" ng-controller="viewBusinessPage">

<head>
    <title>BusinessPage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../login.css" type="text/css" rel="stylesheet">
    <link href="../viewBusinessPage.css" type="text/css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

          <div class="navbar-header">
              <a ng-if="actor!='owner'" class="navbar-brand" href="/">Logo</a>
              <a ng-if="actor=='owner'" class="navbar-brand" href="/owner/ownerViewsBusinessPage">Logo</a>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li ng-if="actor!=visitor"><a href="/Logout">Logout</a></li>
                  <li ng-if="actor==visitor"><a href="/Login">Profile</a></li>
              </ul>
          </div>

      </div>
  </nav>

  <div class="search container-fluid">


    <div id="info">

      <img src={{profileImg}} width="250px" id="profileImg"/>

      <div class="data">name: {{name}}</div>
      <div class="data">Description: {{description}}</div>

      <div class="data">PhoneNumbers :
        <div ng-repeat="number in phoneNumber">
          <p>{{number}},</p>
        </div>

      </div>

      <div class="data">Addresses :
        <div ng-repeat="address in addresses">
          <p>{{address}},</p>
        </div>
      </div>

      <div ng-repeat="image in images" id="imgs">
          <img src={{image}} width="100px"/>
      </div>
    </div>


    <div class="rating-container">

        <div class="visitors-rates">
            <p>Visitors gave this page an average rating of {{rate| number: 1}} out of 5.</p>
        </div>

        <div class="before-rating" ng-show="actor=='user' && showRate">
            <div class="your-rating">
                <p>How many stars do you give this page.</p>
            </div>

            <div id="rating">
                <span ng-click="r(1)">★</span>
                <span ng-click="r(2)">★</span>
                <span ng-click="r(3)">★</span>
                <span ng-click="r(4)">★</span>
                <span ng-click="r(5)">★</span>
            </div>
        </div>

        <div class="after-rating" ng-show="actor=='user' && !showRate">
            <p>you gave this page {{yourRating}} stars</p>
        </div>

    </div>



    <a ng-if="actor=='owner'" href="/owner/editBusinessPage" class="btn btn-default">Edit My BusinessPage</a>

    <form ng-if="actor=='owner'" method="get" action="/owner/addPlace">
      <button type="submit" class="btn btn-primary">Add Place</button>
    </form>

    <form ng-if="actor=='owner'" method="get" action="/owner/addTrip">
      <button type="submit" class="btn btn-primary">Add Trip</button>
    </form>

    <div class="events" ng-repeat = "event in events">
      <div class="event">

        <div ng-if="actor=='owner'">
          <form ng-if="event.event.isPlace" method="post" action="/owner/removePlace">
            <input ng-model="event.event._id" type="text" class="form-control" name="_id" required="true" style="visibility:hidden;display:none">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

          <form ng-if="!event.event.isPlace" method="post" action="/owner/removeTrip">
            <input ng-model="event.event._id" type="text" class="form-control" name="_id" required="true" style="visibility:hidden;display:none">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

          <form ng-if="event.event.isPlace" method="post" action="/owner/editPlace">
            <input ng-model="event.event._id" type="text" class="form-control" name="_id" required="true" style="visibility:hidden;display:none">
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>

          <form ng-if="!event.event.isPlace" method="post" action="/owner/editTrip">
            <input ng-model="event.event._id" type="text" class="form-control" name="_id" required="true" style="visibility:hidden;display:none">
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
        </div>

        <p>name: {{event.event.name}}</p>
        <p>description: {{event.event.description}}</p>
        <p>price: {{event.event.price}}</p>

        <img src = {{event.event.image}} width="100px"/>
        <div ng-if="event.event.isPlace">

          <div class="data">openingTimes :
            <div ng-repeat="openingTime in event.place.openingTimes">
              <p>{{openingTime}},</p>
            </div>
          </div>

          <p>period: {{event.place.period}} minutes</p>
        </div>

        <div ng-if="!event.event.isPlace">
          <p>Start Date: {{event.trip.startDate}}</p>
          <p>End Date: {{event.trip.endDate}}</p>
          <p>Max People: {{event.trip.maxPeople}}</p>
        </div>

        <div class="rating-container">

            <div class="visitors-rates">
                <p>Visitors gave this event an average rating of {{event.event.rate.value| number: 1}} out of 5.</p>
            </div>
            <div class="before-rating" ng-show="actor=='user' && !showEventRate(event.event.rate.usernames)">
                <div class="your-rating">
                    <p>How many stars do you give this event.</p>
                </div>

                <div id="rating">
                    <span ng-click="rateEvent(1, event.event._id)">★</span>
                    <span ng-click="rateEvent(2, event.event._id)">★</span>
                    <span ng-click="rateEvent(3, event.event._id)">★</span>
                    <span ng-click="rateEvent(4, event.event._id)">★</span>
                    <span ng-click="rateEvent(5, event.event._id)">★</span>
                </div>
            </div>

            <div class="after-rating" ng-show="actor=='user' && !showEventRate(event.event.rate.usernames)">
                <p>you gave this page {{yourEventRating}} stars</p>
            </div>

        </div>

        <div ng-if="actor=='user'">

          <button  type="button" class="btn btn-primary">Pay</button>

          <div ng-if="!event.event.mustPay">
            <form ng-if="!event.event.isPlace" method="post" action="/booking/tripBook2">
              <input ng-model="event.event._id" type="text" class="form-control" name="eventId" required="true" style="visibility:hidden;display:none">
              <button type="submit" class="btn btn-primary">book trip</button>
            </form>

            <form ng-if="event.event.isPlace" method="post" action="/booking/placeBook2View">
              <input ng-model="event.event._id" type="text" class="form-control" name="eventId" required="true" style="visibility:hidden;display:none">
              <button type="submit" class="btn btn-primary">book place</button>
            </form>
          </div>

        </div>
      </div>

    </div>

  </div>

  <script src="/public/libs/angular/angular.js"></script>
  <script src="/public/libs/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../viewBusinessPage.js"></script>
</body>

</html>
