body{
  border-style: solid;
}

#profileImg{
  /*border-style: solid;*/
  /*border-width: thick;*/
}

#info{
  /*border-style: solid;*/
  display: inline-block;
  width: 100%
}

.data *{
  /*border-style: solid;*/
  /*border-width: thick;*/
  display: inline-block;
}

.data{
  /*border-style: solid;*/
}

.openingTimes *{
  display: inline-block;
}
.events{
  border-style: solid;
}
